D10_technology-demonstrators/E-I_node/E-I_all.json
[{"id":"3046bf76.ca3258","type":"tab","label":"E-I all","disabled":false,"info":""},{"id":"99cf13ef.173458","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"4288cd38.5e0304","type":"ui_group","name":"Things","tab":"2d9c4ef6.b97082","order":2,"disp":false,"width":"20","collapse":false},{"id":"2d9c4ef6.b97082","type":"ui_tab","name":"E-I","icon":"dashboard","disabled":false,"hidden":false},{"id":"bad2027d.3c1d88","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"E-I","hideToolbar":"true","allowSwipe":"true","lockMenu":"icon","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"64ea6039.d4c0f","type":"ui_group","name":"Title","tab":"2d9c4ef6.b97082","order":1,"disp":false,"width":"20","collapse":false},{"id":"f1a728ea.a76e4","type":"grove-ultrasonic-ranger","z":"3046bf76.ca3258","name":"","port_number":"26","x":350,"y":200,"wires":[["833bf899.dc585"]]},{"id":"833bf899.dc585","type":"switch","z":"3046bf76.ca3258","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"str"},{"t":"lte","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":200,"wires":[["e16877b6.51a09"],["45b9e5fb.45d774"]]},{"id":"1f2d6382.877904","type":"comment","z":"3046bf76.ca3258","name":"motion sensor","info":"","x":90,"y":140,"wires":[]},{"id":"5f919a3e.b3cb24","type":"ui_text","z":"3046bf76.ca3258","group":"4288cd38.5e0304","order":2,"width":"10","height":"2","name":"Status","label":"{{msg.topic}}","format":"{{msg.thing}}","layout":"col-center","x":950,"y":320,"wires":[]},{"id":"45b9e5fb.45d774","type":"change","z":"3046bf76.ca3258","name":"","rules":[{"t":"set","p":"thing","pt":"msg","to":"Object found. Scanning...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":240,"wires":[["5f919a3e.b3cb24"]]},{"id":"e16877b6.51a09","type":"change","z":"3046bf76.ca3258","name":"","rules":[{"t":"set","p":"thing","pt":"msg","to":"Put an object in the mat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":160,"wires":[["5f919a3e.b3cb24"]]},{"id":"e80f106e.22c2b","type":"serial in","z":"3046bf76.ca3258","name":"MKR1010","serial":"99cf13ef.173458","x":220,"y":360,"wires":[["57192be0.27f8a4"]]},{"id":"57192be0.27f8a4","type":"switch","z":"3046bf76.ca3258","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1","vt":"num"},{"t":"cont","v":"2","vt":"num"},{"t":"cont","v":"3","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":480,"wires":[["50af253e.22efdc"],["8a0b6af7.478918"],["daaf8a7e.cb859"],["29778f90.34c3a8"]]},{"id":"29778f90.34c3a8","type":"change","z":"3046bf76.ca3258","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://thingwiki.herokuapp.com/","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Object unknown","tot":"str"},{"t":"set","p":"thing","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":540,"wires":[["c72fad4b.b9f6d"]]},{"id":"c186140d.b6419","type":"comment","z":"3046bf76.ca3258","name":"NFC - identify object","info":"","x":230,"y":320,"wires":[]},{"id":"50af253e.22efdc","type":"change","z":"3046bf76.ca3258","name":"Unicorn","rules":[{"t":"set","p":"url","pt":"msg","to":"https://thingwiki.herokuapp.com/template/0001.md","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Object identified","tot":"str"},{"t":"set","p":"thing","pt":"msg","to":"Plush Unicorn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":400,"wires":[["c72fad4b.b9f6d","5f919a3e.b3cb24"]]},{"id":"8a0b6af7.478918","type":"change","z":"3046bf76.ca3258","name":"Studio monitor","rules":[{"t":"set","p":"url","pt":"msg","to":"https://thingwiki.herokuapp.com/template/0002.md","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Object identified","tot":"str"},{"t":"set","p":"thing","pt":"msg","to":"Studio monitor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":440,"wires":[["c72fad4b.b9f6d","5f919a3e.b3cb24"]]},{"id":"daaf8a7e.cb859","type":"change","z":"3046bf76.ca3258","name":"Coffee grinder","rules":[{"t":"set","p":"url","pt":"msg","to":"https://thingwiki.herokuapp.com/template/0007.md","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Object identified","tot":"str"},{"t":"set","p":"thing","pt":"msg","to":"Coffee grinder","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":480,"wires":[["c72fad4b.b9f6d","5f919a3e.b3cb24"]]},{"id":"c72fad4b.b9f6d","type":"ui_iframe","z":"3046bf76.ca3258","group":"4288cd38.5e0304","name":"ThingWiki","order":1,"width":10,"height":8,"url":"https://thingwiki.herokuapp.com/","origin":"https://thingwiki.herokuapp.com/","scale":"100","x":580,"y":320,"wires":[[]]},{"id":"d8385714.7e8ef","type":"ui_template","z":"3046bf76.ca3258","group":"64ea6039.d4c0f","name":"Title","order":1,"width":"16","height":"2","format":"<h1>\n    E-I\n</h1>\n<p>\n    v0.1\n</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":310,"y":40,"wires":[[]]},{"id":"17d4af71.b67811","type":"ui_iframe","z":"3046bf76.ca3258","group":"4288cd38.5e0304","name":"Camera","order":3,"width":"10","height":"6","url":"http://192.168.0.45/cam/min.php","origin":"*","scale":"40","x":960,"y":360,"wires":[[]]},{"id":"af833a1b.581958","type":"ui_button","z":"3046bf76.ca3258","name":"","group":"64ea6039.d4c0f","order":3,"width":"2","height":"2","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"https://thingwiki.herokuapp.com/","payloadType":"str","topic":"url","topicType":"msg","x":630,"y":40,"wires":[["c72fad4b.b9f6d"]]},{"id":"73ec80f3.39599","type":"ui_button","z":"3046bf76.ca3258","name":"","group":"64ea6039.d4c0f","order":2,"width":"2","height":"2","passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"https://thingwiki.herokuapp.com/","payloadType":"str","topic":"url","topicType":"msg","x":450,"y":40,"wires":[["f1a728ea.a76e4"]]}]