D10_technology-demonstrators/E-I_node/E-I_node.json
[{"id":"3046bf76.ca3258","type":"tab","label":"E-I","disabled":false,"info":""},{"id":"82fbd1af.c9bd7","type":"tab","label":"local site","disabled":false,"info":""},{"id":"534f9a07.44f3cc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Evaluation Interface","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6467854a.60785c","type":"ui_group","name":"Fullscreen cam","tab":"a83c6152.eceb48","order":2,"disp":true,"width":"16","collapse":false},{"id":"99cf13ef.173458","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a83c6152.eceb48","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6cc58209.0b76a4","type":"ui_group","name":"E-I Working","tab":"a83c6152.eceb48","order":1,"disp":true,"width":"6","collapse":false},{"id":"dc7e708.33b369","type":"serial in","z":"3046bf76.ca3258","name":"MKR1010","serial":"99cf13ef.173458","x":120,"y":80,"wires":[["cc39b8b0.d49a1"]]},{"id":"ed01dabd.dd82d","type":"http in","z":"82fbd1af.c9bd7","name":"","url":"/e-i","method":"get","upload":false,"swaggerDoc":"","x":340,"y":260,"wires":[[]]},{"id":"c8e44a21.66eb1","type":"template","z":"82fbd1af.c9bd7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n\n<html>\n    <head>\n<link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css\" integrity=\"sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ\" crossorigin=\"anonymous\">\n    </head>\n<body>\n\n\n<div class = \"container\">\n<table class=\"table table-hover\">\n  <thead>\n    <tr>\n      <th scope=\"col\">nome</th>\n      <th scope=\"col\">tag</th>\n      <th scope=\"col\">door 1</th>\n      <th scope=\"col\">door 2</th>\n      <th scope=\"col\">door 3</th>\n\n    </tr>\n  </thead>\n  <tbody>\n      {{#payload}}\n    <tr class=\"table-active\">\n      <td>{{name}}</td>\n      <td>{{tag}}</td>\n      <td>{{ACCESSO1}}</td>\n      <td>{{ACCESSO2}}</td>\n      <td>{{ACCESSO3}}</td>\n    </tr>\n    {{/payload}}\n  </tbody>\n</table>\n\n\n</div>\n</body>\n</html>","output":"str","x":340,"y":300,"wires":[[]]},{"id":"fb128838.945d38","type":"http response","z":"82fbd1af.c9bd7","name":"","statusCode":"","headers":{},"x":330,"y":340,"wires":[]},{"id":"bb1c8370.197e18","type":"change","z":"3046bf76.ca3258","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"I found it, sir","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":120,"wires":[["347d4577.c266ca","f572ed40.5840f8"]]},{"id":"347d4577.c266ca","type":"ui_audio","z":"3046bf76.ca3258","name":"","group":"6cc58209.0b76a4","voice":"urn:moz-tts:osx:com.apple.speech.synthesis.voice.rishi","always":true,"x":600,"y":160,"wires":[]},{"id":"cc39b8b0.d49a1","type":"switch","z":"3046bf76.ca3258","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1","vt":"num"},{"t":"cont","v":"2","vt":"num"},{"t":"cont","v":"3","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":190,"y":200,"wires":[["bb1c8370.197e18"],["91696032.30b64"],["9b2fcaa3.45089"],["2f6cb0dd.bb78a8"]]},{"id":"2f6cb0dd.bb78a8","type":"change","z":"3046bf76.ca3258","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unkown object","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":260,"wires":[["347d4577.c266ca"]]},{"id":"91696032.30b64","type":"change","z":"3046bf76.ca3258","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Object 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":160,"wires":[["347d4577.c266ca"]]},{"id":"9b2fcaa3.45089","type":"change","z":"3046bf76.ca3258","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Object 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":200,"wires":[["347d4577.c266ca"]]},{"id":"f572ed40.5840f8","type":"debug","z":"3046bf76.ca3258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":80,"wires":[]},{"id":"44d7439c.dd9334","type":"ui_audio","z":"3046bf76.ca3258","name":"","group":"6cc58209.0b76a4","voice":"urn:moz-tts:osx:com.apple.speech.synthesis.voice.daniel","always":true,"x":600,"y":520,"wires":[]},{"id":"f1a728ea.a76e4","type":"grove-ultrasonic-ranger","z":"3046bf76.ca3258","name":"","port_number":"26","x":230,"y":420,"wires":[["833bf899.dc585","eb3b86ad.c3194"]]},{"id":"fc7e324c.2cc41","type":"inject","z":"3046bf76.ca3258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":360,"wires":[["f1a728ea.a76e4"]]},{"id":"833bf899.dc585","type":"switch","z":"3046bf76.ca3258","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":460,"wires":[["d2eccf10.031a28","44d7439c.dd9334"],[]]},{"id":"4f4a0bdc.65c71c","type":"ui_iframe","z":"3046bf76.ca3258","group":"6467854a.60785c","name":"Cam - fullscreen","order":1,"width":"16","height":"8","url":"http://192.168.178.33/cam/min.php","origin":"*","scale":"100","x":200,"y":580,"wires":[[]]},{"id":"73bd6527.375af4","type":"debug","z":"3046bf76.ca3258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":460,"wires":[]},{"id":"d2eccf10.031a28","type":"change","z":"3046bf76.ca3258","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"it works","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["73bd6527.375af4"]]},{"id":"eb3b86ad.c3194","type":"debug","z":"3046bf76.ca3258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":360,"wires":[]},{"id":"a10d0a5c.0da518","type":"comment","z":"3046bf76.ca3258","name":"NFC - identify object","info":"","x":130,"y":40,"wires":[]},{"id":"1f2d6382.877904","type":"comment","z":"3046bf76.ca3258","name":"motion sensor","info":"","x":110,"y":300,"wires":[]},{"id":"2fefb19.bda614e","type":"comment","z":"3046bf76.ca3258","name":"web interface","info":"","x":90,"y":520,"wires":[]},{"id":"b7e4973b.050bd8","type":"ui_text","z":"3046bf76.ca3258","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":600,"wires":[]},{"id":"6d8481ec.4f02","type":"ui_button","z":"3046bf76.ca3258","name":"","group":"6cc58209.0b76a4","order":2,"width":0,"height":0,"passthru":false,"label":"scan object","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":640,"wires":[[]]}]
