D10_technology-demonstrators/E-I_node/motion-sensor.json
[{"id":"3046bf76.ca3258","type":"tab","label":"Motion Sensor","disabled":false,"info":""},{"id":"f1a728ea.a76e4","type":"grove-ultrasonic-ranger","z":"3046bf76.ca3258","name":"","port_number":"26","x":350,"y":100,"wires":[["833bf899.dc585"]]},{"id":"fc7e324c.2cc41","type":"inject","z":"3046bf76.ca3258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["f1a728ea.a76e4"]]},{"id":"833bf899.dc585","type":"switch","z":"3046bf76.ca3258","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":100,"wires":[["d2eccf10.031a28"],[]]},{"id":"d2eccf10.031a28","type":"change","z":"3046bf76.ca3258","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"it works","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":240,"wires":[[]]},{"id":"1f2d6382.877904","type":"comment","z":"3046bf76.ca3258","name":"motion sensor","info":"","x":90,"y":40,"wires":[]}]
