D10_technology-demonstrators/E-I_node/nfc.json
[{"id":"f83d0d99.339fc8","type":"tab","label":"NFC","disabled":false,"info":""},{"id":"305e63be.3233fc","type":"serial in","z":"f83d0d99.339fc8","name":"MKR1010","serial":"99cf13ef.173458","x":180,"y":120,"wires":[["bd51a63a.f25eb8"]]},{"id":"bd51a63a.f25eb8","type":"switch","z":"f83d0d99.339fc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1","vt":"num"},{"t":"cont","v":"2","vt":"num"},{"t":"cont","v":"3","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":250,"y":240,"wires":[["7796791c.0193"],["23c21121.bebaee"],["deee63fb.92dba"],["ac3264d4.4fe038"]]},{"id":"ac3264d4.4fe038","type":"change","z":"f83d0d99.339fc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unkown object","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":300,"wires":[[]]},{"id":"f8d480b6.46c51","type":"comment","z":"f83d0d99.339fc8","name":"NFC - identify object","info":"","x":190,"y":80,"wires":[]},{"id":"7796791c.0193","type":"change","z":"f83d0d99.339fc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://thingwiki.herokuapp.com/template/0001.md","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[[]]},{"id":"23c21121.bebaee","type":"change","z":"f83d0d99.339fc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Studio Monitor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[[]]},{"id":"deee63fb.92dba","type":"change","z":"f83d0d99.339fc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Coffee Grinder","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":240,"wires":[[]]},{"id":"99cf13ef.173458","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]
